# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class
*.pyc

# Poetry & venv
.venv/
.poetry/
poetry.lock

# VSCode settings (opcional)
.vscode/

# macOS / Windows artifacts (opcional)
.DS_Store
Thumbs.db
francisco-rodriguez-alfaro/src/francisco_rodriguez_alfaro/app/__pycache__/__init__.cpython-310.pyc
francisco-rodriguez-alfaro/src/francisco_rodriguez_alfaro/app/__pycache__/routes.cpython-310.pyc
